#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	echo "Upstream does not provide test suite"
endif

execute_before_dh_auto_configure:
	cp debian/pod2rst-fix src/

override_dh_install:
	dh_install
	for pl in `grep -Rl '#!/usr/bin/env[[:space:]]\+perl' debian/*/usr/*` ; do \
	    sed -i '1s?^#!/usr/bin/env[[:space:]]\+perl?#!/usr/bin/perl?' $${pl} ; \
	done
	find debian -name env_parallel.pdksh -delete
	find debian -name env_parallel.ash -delete
